.contain{
    color: whitesmoke;
   // background-image: url("/assets/images/fond-nuage.jpg");
}
.row-custom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.pd-r10{
    padding-right: 10px;
}

