
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark scrolling-navbar">
        <a class="navbar-brand" routerLink="home"><strong>AppMeteo</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"  id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item pd-r10" routerLinkActive="active"><a routerLink="home">Accueil</a></li>
              <li class="nav-item pd-r10" routerLinkActive="active"><a routerLink="profile"> Profile </a></li>               
            </ul>
        </div>
        <button class="btn btn-flat"><a routerLink="auth"> Se deconnecter </a></button>
    </nav>
</header>
<div class="contain">
  <router-outlet></router-outlet>
</div>
