<div class="container">
    <div class="actual-situation" style="margin-bottom: 150px; margin-top:100px;">
        <div class="row">
            <div class="col-md-4 offset-md-2">
                <div class="content-info-sup"> 
                    <div class="mb-20">Humidité &nbsp; &nbsp; {{humidite}}</div>
                    <div class="mb-20">Pression &nbsp; &nbsp; {{pression}}</div>
                    <!-- <div class="mb-20">Feels like 51°</div>
                    <div class="mb-20">Visibility 21mi</div>
                    <div class="mb-20">Dew point 39°</div> -->
                </div>
            </div>
            <div class="col-md-4 offset-md-2">
                <div class="row adress">{{adresse}}</div>
                <div class="row"> 
                    <div class="col-md-8 temperature">{{temperature}}</div> 
                    <div class="col-md-4"></div>  
                </div>
                <div class="row date"> {{date}} </div>
                <!-- <div class="row hour"> 15:45 </div> -->
            </div>
        </div>   
    </div>
</div>