<div style="background-image: url('/assets/images/thunderstorm.jpg');" >
    <app-weather-actual-location></app-weather-actual-location>
    <div class="row">
        <div class="col-md-for-hour col-sm-3 col-4" *ngFor="let info of listInfos">
            <app-weather-hour-item [hour]="info.hour" 
                        [temperature]="info.temp" 
                        [humidite]="info.hum" 
                        [image_url]="info.image_url">
            </app-weather-hour-item>
        </div>
    </div>
</div>
    
